</div>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Project Listing<small> A sample of my works.</small></h1>
        </div>

      </div>

      <% @projects.each do |project| %>

      <div class="row">

        <div class="col-lg-7 col-md-7">
          <%= link_to(image_tag("https://s3.amazonaws.com/portfolio.site.bucket/littlescreen.png"), "http://www.reddit.com") %>
        </div>

        <div class="col-lg-5 col-md-5", id="<%= dom_id(project) %>">
          <h3><%= project.name %></h3>
          <h4>Subheading (maybe keep this? Have to make a migration to the db with a new post.subheading category)</h4>
          <p><%= project.technologies_used %></p>
          <br/>
          <%= link_to 'View Project', project, :class => "btn btn-success" %>
          <%= link_to 'Edit Project', edit_project_path(project), :class => "btn btn-info" %>
          <%= link_to 'Destroy Project', project, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
        </div>

      </div>

      <br/><br/>

      <% end %>

      <%= link_to 'New Project', new_project_path, :class => "btn btn-success" %>

    </div>
