</div>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Developer's Blog<small> Because I'm good at what I do.</small></h1>
        </div>

      </div>

      <% @posts.each do |post| %>

      <div class="row">

        <div class="col-lg-7 col-md-7">
          <%= link_to(image_tag("http://placehold.it/650x300"), "http://www.google.com") %>
        </div>

        <div class="col-lg-5 col-md-5", id="<%= dom_id(post) %>">
          <h3><%= post.title %></h3>
          <h4>Subheading (maybe keep this? Have to make a migration to the db with a new post.subheading category)</h4>
          <p><%= post.content %></p>
          <br/>

          <%= link_to 'View Post', post, :class => "btn btn-success" %>

          <% if policy(post).update? %>
          <%= link_to 'Edit Post', edit_post_path(post), :class => "btn btn-info" %>
          <% end %>

          <% if policy(post).destroy? %>
          <%= link_to 'Destroy Post', post, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
          <% end %>

          <% if policy(post).publish? && post.published? == false %>
          <%= button_to 'Publish', post_path(post, post: {published: true}), method: :put, :class => "btn btn-success", :id => "publishbutton" %>
          <% end %>

        </div>

      </div>

      <br/><br/>

      <% end %>

          <% if policy(Post).create? %>
          <%= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
          <% end %>

    </div>
