<!DOCTYPE html>
<html>

<%= render 'layouts/header' %>

<body>

 <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
